.cardBContainer {
  /* background-image: url("../../assets/images/settlementBg.svg"); */
  background-repeat: repeat;
  object-fit: fill;
  border-radius: 25px;
  background-color: #fbfbfb;
  /* background-color: #e2e2ff; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
