.cardBContainer {
  background-image: url("../../assets/images/settlementBg.svg");
  background-repeat: repeat;
  object-fit: fill;
  border-radius: 25px;
  /* background-color: #F5D8D0; */
  background-color: #E2E2FF;
}
